# Vim swap files
*.swp

# Some specific compilation files
rdt.o
mynetwork
report/

nettest
signaltest
timertest
network

# log files
*.log
*.log.*

# subnet library is compiled on-site anyway methinks? Otherwise it wouldn't change in the first place.
libsubnet.a
lib/libsubnet.a

# Some latex shit
main-cache.yaml
main.aux
main.fls
main.lof
main.log
main.maf
main.mtc
main.mtc0
main.out
main.pdf
main.synctex.gz
main.toc

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.log
